
.login-register {
  max-width: 500px;
  width: 320px;
  padding: 60px 0;
  margin: 0 auto;
  .login-register-tab {
    display: block;
    .tabs {
      display: inline-block;
      width: 160px;
      border: 1px solid #eee;
      border-top: 3px solid #eee;
      margin: 0 0 -1px 0;
      text-align: center;
      cursor: pointer;
      font-size: 15px;
      line-height: 40px;
      color: #d2d2d2;
      background-color: #fafafa;
      // 點擊
      
    }
    .tab-active {
        border-top: 3px solid #86abc0;
        border-bottom: 1px solid #fff;
        color: #706e6c;
        background-color: #fff;
      }
  }
  #login-area {
    border: 1px solid #ededed;
    .input-group {
      width: 280px;
      border-bottom: 1px solid #eee;
      margin: 20px auto;
      label {
        position: absolute;
        top: 12px;
        display: none;
        color: #cdcdcd;
        cursor: text;
      }
      input {
        height: 40px;
        width: 260px;
        padding-right: 20px;
        border: 0;

        outline: none;
        color: #6b6b6b;
        letter-spacing: 1px;
      }
      ::placeholder {
        color: #c9c8c8;
      }
    }
    .login_btn {
      width: 280px;
      margin: 0 auto 20px;
      background-color: #ffc107;
    }
  }

  #register-area {
    border: 1px solid #ededed;
    .input-group {
      width: 280px;
      border-bottom: 1px solid #eee;
      margin: 20px auto;
      .label {
        width: 100%;
      }
      input {
        width: 260px;
        height: 40px;
        outline: none;
        border: 0;
        color: #6b6b6b;
        letter-spacing: 1px;
      }
    }
    ::placeholder {
      color: #c9c8c8;
    }
    .register_btn {
      width: 280px;
      margin: 0 auto 20px;
      background-color: #ffc107;
    }
  }
}
