.shop header {
  width: 100%;
}

.shop header img {
  width: 100%;
}

.shop .products .sorts {
  margin: 40px 0;
}

.shop .products .sorts .tab-active {
  background-color: #fab64a;
  color: white;
}

.shop .products .sorts button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 50px;
  padding: 5px 30px;
  margin: 0 10px 15px;
}

.shop .products #product_content .product_card {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.shop .products #product_content .product_card .product_img {
  width: 100%;
  height: 100%;
}

.shop .products #product_content .product_card .product_img img {
  width: 100%;
}

.shop .products #product_content .product_card .product_body {
  background-color: #ffffff;
}

.shop .products #product_content .product_card .product_body h3 {
  font-size: 18px;
  color: #39393e;
  font-weight: 700;
}

.shop .products #product_content .product_card .product_body .price {
  font-size: 18px;
  color: #66666a;
}

.shop .products #product_content .product_card .product_body .product_quantity {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group {
  width: 45%;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .btn {
  font-size: 20px;
  color: #000000;
  width: 20%;
  height: 40px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  border: 1px solid #969696;
  background-color: #bbe2e9;
  margin-left: -3px;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .btn:hover {
  font-size: 24px;
  font-weight: 900;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .add_down {
  border-radius: 4px 0 0 4px;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .add_up {
  border-radius: 0 4px 4px 0;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .item_quantity {
  font-size: 20px;
  width: 60%;
  height: 40px;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: left;
  border: 1px solid #969696;
  border-radius: 0;
}

.shop .products #product_content .product_card .product_body .product_quantity .btn_group .item_quantity:focus {
  outline: 0;
}

.shop .products #product_content .product_card .product_body .product_quantity .addchart {
  width: 45%;
}

.shop .products #product_content .product_card .product_body .product_quantity .addchart button {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  font-size: 16px;
  color: #9cdce5;
  border: 1px solid #969696;
  border-radius: 4px;
  cursor: pointer;
}

.shop .products #product_content .product_card .product_body .product_quantity .addchart button:hover {
  background-color: #763134;
}

.shop .products #product_content .product_card .product_body .product_quantity .addchart button:focus {
  outline: 0;
  background-color: #763134;
}

.shop .products #product_content .product_card .product_body .product_quantity .addchart button i {
  font-size: 20px;
}

.shop .products #product_content .product_card .product_body .product_quantity .alert {
  width: 250px;
  height: 250px;
  position: fixed;
  top: calc(50% - 140px);
  left: calc(50% - 150px);
  background-color: #fff;
  border: 5px solid #d1ecf1;
  -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.08);
}

.shop .products #product_content .product_card .product_body .product_quantity .alert img {
  width: 200px;
}

.shop .products #product_content .product_card .product_body .product_quantity .alert p {
  margin-top: 20px;
  text-align: center;
}
/*# sourceMappingURL=shop.css.map */